.social_medias {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.social_medias>a {
    margin: 0 .5em;
    padding: 5px;
    text-decoration: none;
    border-radius: .5em;
    background-color: #414141;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 6px rgba(0, 0, 0, .2);
    transition: all .3s ease;
}

.social_medias>a:hover {
    background-color: #343434;
}

.social_medias>a img {
    width: 2em;
    height: auto;
}