.carousel {
    padding-bottom: 56.25%;
    display: flex;
    text-decoration: none;
    border-radius: 1.5em;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);

    position: relative;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    position: absolute;
}

.mask {
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 100%);

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.navigation {
    width: 100%;
    padding: 0 1em;
    display: flex;
    align-self: center;
    justify-content: space-between;

    position: absolute;
}

.navigation svg {
    color: var(--primary-color);
    font-size: 2.5em;
}

.content {
    padding: 4em 5em;

    position: absolute;
    bottom: 0;
}

.content span {
    color: #fff;
    font-size: 1em;
}

.content h3 {
    margin-top: .5em;
    color: #fff;
}

.indicators {
    width: 100%;
    padding: 1em 0;
    display: flex;
    align-self: flex-end;
    justify-content: center;

    position: absolute;
}

.indicators div {
    margin: 0 1em;
    width: 2.5em;
    height: .3em;
    background-color: var(--primary-color);
    border-radius: 5em;
}

.indicators .active {
    background-color: var(--alternative-color);
}

@media screen and (min-width: 960px) {
    .carousel_container {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}