.categories {
    margin-top: 3em;
    display: flex;
}

.category {
    flex: 1;
    margin: 0 1em;
    background-color: #000;
    /* background-color: var(--alternative-color); */
    /* opacity: .9; */
    /* background-image: radial-gradient(#0094EC, #009400); */
    padding: 4em 3em;
    border-radius: 1.5em;
    box-shadow: 0 0 6px rgba(0, 0, 0, .2);
}

.category span {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;
}