.latest_pubs {
    flex: 1;
}

.latest_pubs h2 {
    margin-bottom: 1em;
    padding-left: .5em;
    border-left: 4px solid var(--accent-color);
}

.post {
    text-decoration: none;
    display: block;
    margin-top: 2em;
    padding-bottom: .5em;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.post span {
    display: block;
    color: var(--accent-color);
}

.post p {
    margin-top: .5em;
    color: var(--secondary-color);
    font-size: 1.2em;
}