* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #F5F5F5;
    --secondary-color: #1B1B1B;
    --accent-color: #EC5800;
    --alternative-color: #00EDEC;
    /* --alternative-color: #00EDEC; */
}

body {
    background-color: var(--primary-color);
}

main {
    padding: 1em 1em;
    position: relative;
}

@media screen and (min-width: 960px) {
    main {
        padding: 4em 16em;
    }
}