.post_header {
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.resume {
    margin-top: .5em;
}

.post_stats {
    margin-top: 1em;
}

.post_content {
    margin-top: 2em;
}