.post_header {
    padding-bottom: 2em;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.resume {
    margin-top: 1em;
}

.post_details {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.views,
.date,
.tags {
    margin-top: .5em;
}

.tags {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.tags li {
    margin-right: 1em;
    background-color: var(--secondary-color);
    padding: .5em 1em;
    border-radius: .5em;
    color: #fff;
    font-size: 1em;
    font-family: 'Libre Franklin', sans-serif;
}

.post_content {
    margin-top: 3em;
}