.header {
    background-color: #fafafa;
    padding: .5em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
}

.logo {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: auto;
}

.logo span {
    margin-left: .5em;
    color: var(--secondary-color);
    font-size: 1.2em;
}

.logo span strong {
    font-weight: 700;
}

.search {
    background-color: #fafafa;
    padding: 10px;
    width: 100%;
    box-shadow: 0 1px 6px -1px rgba(0, 0, 0, .1);

    position: absolute;
    top: 8vh;
    z-index: 999;
}

.search input {
    background: none;
    border: none;
    outline: none;
    background-color: #fff;
    width: 100%;
    padding: .5em 1em;
    border-radius: .5em;
    font-size: 1em;
    box-shadow: 0 0 6px rgba(0, 0, 0, .1);
}

.search input:focus {
    border: 1px solid var(--accent-color);
}

.navigation {
    background-color: #fafafa;
    width: 60vw;
    height: 92vh;
    box-shadow: 1px 0 6px -1px rgba(0, 0, 0, .1);

    position: absolute;
    top: 8vh;
    left: 0;
    z-index: 999;
    overflow-y: auto;
}

.navigation ul {
    list-style: none;
    padding: 10px;
}

.navigation li {
    margin-bottom: .5em;
}

.navigation a {
    display: block;
    text-decoration: none;
    padding: .5em;
    color: var(--secondary-color);
    font-size: 1.2em;
}

.navigation .active {
    background-color: #fff;
    border-radius: .5em;
    color: var(--secondary-color);
    font-weight: 600;
    border-right: 3px solid var(--secondary-color);
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, .1);
}

.close {
    display: none;
}

@media screen and (min-width: 960px) {
    .header {
        height: auto;
        padding: 1em 5em;
    }

    .logo img {
        width: 70px;
        height: auto;
    }

    .logo span {
        margin-left: 1em;
        font-size: 1.5em;
    }

    .header>button {
        display: none;
    }

    .search,
    .navigation {
        display: block;
        position: static;
    }

    .search {
        flex: .5;
        min-width: 200px;
        width: auto;
        background: none;
        padding: 0;
        margin: 0 2em;
        box-shadow: none;
    }

    .search input {
        box-shadow: 0 0 6px rgba(0, 0, 0, .2);
    }

    .navigation {
        width: auto;
        height: auto;
        background: none;
        box-shadow: none;
        overflow-y: none;
    }

    .navigation ul {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .navigation li {
        margin: 0;
        margin-left: .5em;
    }

    .navigation .active {
        background: none;
        border-radius: 0;
        border: none;
        box-shadow: none;
    }
}