.footer {
    background-color: var(--secondary-color);
    padding: 2em 0;
}

.footer span {
    text-align: center;
    display: block;
    color: #e8e8e8;
}

@media screen and (min-width: 960px) {
    .footer {
        padding: 3em 0;
    }
}