.search>h3 {
    font-weight: 500;
}

.search_header {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search_header>span {
    font-weight: 700;
}

.order_by select {
    padding: .5em;
    border-radius: .5em;
}

.results {
    margin-top: 1em;
}

.results ul {
    list-style: none;
}